.body {
    background-color: rgb(164, 164, 165);
}
/* navbar */
.the-navbar {
    color: #777777;
}
/*header name*/
.name {
    background: #4aaaa5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#ffffff;
    padding: 15px;
}
:active {
    background-color: #4aaaa5;
    color: white;
}
:hover {
    color: #4aaaa5;
}

/* About */
.container {
    width: 50%;
    margin-left: 220px;
    padding-bottom: 120px;

}
.hr {
    border: outset;
}
/* content heading */
.content-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4AAAA5;
    margin: 30px;
    margin-top: 8px;
    padding-top: 30px;
    margin-left: 40px;
}
/* profile image */
.profile {
    margin-top: 5%;
    width: 100%;
    margin-bottom: 5%;
}
.paragraph {
    margin: 5px;
    margin-top: 0px;
    text-indent: 30px;
}


/* contact */
#validationTextarea {
    padding: 100px;
    
}
.btn {
    background-color: #4AAAA5;
    color: #ffffff;
}
/* portfolio */
.tx {
    position: absolute;
    background-color:  #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 256px;
    margin-top: -80px;
    margin-left: 30px;

}
.im {
    widows: 290px; ;
    position: relative;
    margin: 10px;
    margin-left: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* footer */
.footer {
    padding: 20px;
    margin-top: 30%;
    background: #666666;
    border-top: 8px solid;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
}